<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.ChilkatDotNet46" version="8.2.2" targetFramework="net452" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.EDS.Core" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.EDS.Providers.CustomSmtp" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.EmailCampaign" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.ExM.Framework" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.2" targetFramework="net452" />
</packages>
